.u-section-1 {
  min-height: 1580px;
}

.u-section-1 .u-text-1 {
  margin: 20px calc(((100% - 1140px) / 2) + 46px) 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 80px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 11px 80px 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 228px;
  margin: 35px 0 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -144px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -92px;
    margin-bottom: 18px;
    margin-right: initial;
    margin-left: initial;
  }
}