.u-section-1 {
  min-height: 1007px;
}

.u-section-1 .u-text-1 {
  margin: 30px 126px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 80px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 11px 80px 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 228px;
  margin: 35px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: -19px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -58px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -193px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -141px;
    margin-right: initial;
    margin-left: initial;
  }
}