.u-section-1 .u-sheet-1 {
  min-height: 1515px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 4px auto 0 0;
}

.u-section-1 .u-slider-1 {
  min-height: 699px;
  margin-top: 4px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 653px;
  height: auto;
  width: 1040px;
  margin: -15px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 639px;
  height: auto;
  width: 1040px;
  margin: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 639px;
  height: auto;
  width: 1040px;
  margin: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 840px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 840px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 840px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 660px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 660px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 320px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 320px;
  }
}